.index{
	background: #282828;
	background-image:('') top left no-repeat;
}

.hello{
	background: #282828;
}

.wrapper{
	background: #303030;
	border: solid 2px black;
	border-radius: 15px;
	padding: 0;
	margin: 20px auto 0 auto;
	text-align: center;
	line-height: 23px;
	font-size: 18px;
	height: 500px;
	width: 960px;
	color: white;
}

nav{
	color: white;
	background: black;
	border: 2px solid gray;
	margin: 50px auto 0 auto;
	padding: 10px;
	border-radius: 15px;
	width: 950px;
	text-align: center;
}

nav a{
	color: white;
	padding: 0 50px;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover{
	color: lightblue;
}

article p.para{
	float: left;
	background: #383838;
	color: white;
	font-size: 20px;
	width: 300px;
	height: 350px;
	margin-top: 0px;
	margin-left: 50px;
	border-radius: 15px;
	padding: 10px;
	text-align: left;
}

article img{
	float: right;
	background: #383838;
	line-height: 15px;
	width: 460px;
	height: 350px;
	margin-top: 0;
	margin-right: 50px;
	border-radius: 15px;
	padding: 10px;
	color: white;
}

table{
	font-size: 23px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0px auto;
	background: #E8E8E8;
}

th, td{
	font-size: 19px;
	border: 1px solid black;
	border-radius: 2px;
	background: #383838;
}

.nstp{
	text-align: left;
	margin: 2px 0 0 3px;
}

.contact{
	background: #303030;
	border: solid 2px black;
	border-radius: 15px;
	padding: 0;
	margin: 25px auto 0 auto;
	text-align: center;
	line-height: 23px;
	font-size: 18px;
	height: 600px;
	width: 960px;
}

.paracon{
	background: #383838;
	border-radius: 15px;
	padding: 0;
	margin: 100px auto 0 auto;
	text-align: center;
	line-height: 23px;
	font-size: 20px;
	height: 250px;
	width: 350px;
}
